body {font-size: 10pt}

#insertTextWrapper {
	border:1px solid #aaaaaa;
	width: 100%;
	min-height: 500px;
	display: none;
	margin: 0 0 10px 0;
}

#insertTextArea {
	width:auto;
	height:auto;
	border:1px solid #aaaaaa;
	margin:10px;
}

#insertTextArea image, img, table {
	float: left; 
}

.editWrapper {
	border:1px solid #aaaaaa;
	width: 100%;
	min-height: 500px;
}

#editArea {
	width:auto;
	height:auto;
	border:1px solid #aaaaaa;
	margin:10px;
}

#controlArea {
	margin: 0 0 10px 0;
	width: 100%;
}

.areaTitle {
	margin: 0 0 0 10px; 
}
