<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.modustudy.db.Mapper">
  <select id="selectTestInfoList" resultType="kr.modustudy.db.TestInfo" parameterType="kr.modustudy.db.TestInfo">
  	select test_id, grade, year, month, auth from test_info;
  </select>
  <select id="selectTestInfoListByGrade" resultType="kr.modustudy.db.TestInfo" parameterType="kr.modustudy.db.TestInfo">
  	select test_id, grade, year, month, auth from test_info where grade=#{grade};
  </select>
  <select id="selectTestInfoListByYear" resultType="kr.modustudy.db.TestInfo" parameterType="kr.modustudy.db.TestInfo">
  	select test_id, grade, year, month, auth from test_info where year=#{year};
  </select>
  <select id="selectTestInfoListByGradAndYear" resultType="kr.modustudy.db.TestInfo" parameterType="kr.modustudy.db.TestInfo">
  	select test_id, grade, year, month, auth from test_info where grade=#{grade} and year=#{year};
  </select>
  <select id="selectCountTestInfo" resultType="int" parameterType="kr.modustudy.db.TestInfo">
  	select count(0) as cnt from test_info where grade=#{grade} and year=#{year} and month=#{month};
  </select>
  <insert id="insertTestInfo" parameterType="kr.modustudy.db.TestInfo">
  	INSERT INTO `moduschool`.`test_info`(`grade`,`year`,`month`,`auth`)
	VALUES(#{grade},#{year},#{month},#{auth});
  </insert>
  <delete id="deleteTestInfo">
  	delete from test_info where test_id=#{test_id};
  </delete>
</mapper>